# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea
*.pyc
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build
*.test
.glide/
vendor
build
bin
tools/bin/*
docs/_build
docs/tutorial
docs/node_modules
docs/modules
dist
tools-stamp
docs-tools-stamp
proto-tools-stamp
golangci-lint
keyring_test_cosmos
./**/node_modules
./**/dist
secret.yml
# vue/

# Testing
coverage.txt
*.out
sim_log_file
tests/**/tmp/*
yarn.lock

# Vagrant
.vagrant/
*.box
*.log
vagrant

# IDE
.idea/
*.iml

# Graphviz
dependency-graph.png

# Latex
*.aux
*.out
*.synctex.gz

# Contracts
*.bin
*.abi

# Node.js
tests/**/node_modules/*
tests-solidity/**/node_modules/*